nav
  div(class="nav-wrapper grey darken-4")
    a(href="#" class="left-pad brand-logo")
      i(class="fas fa-plane-departure")
      | Wyng It
    a(href="#" data-target="nav-mobile" class="right sidenav-trigger")
      i(class="material-icons") menu
    ul(id="nav-mobile" class="right hide-on-med-and-down")
      li
        a(href="#") One
      li
        a(href="#") Two
      li
        a(href="#") Three
    ul(class="sidenav" id="nav-mobile")
      li
        a(href="#") One
      li
        a(href="#") Two
      li
        a(href="#") Three