footer(class="page-footer  grey darken-4")
  div(class="footer-copyright")
    div(class="container")
      span
        i(class="far fa-copyright")
        | 2019 Wyng It

script(type="text/javascript" src="js/materialize.js")
script(type="text/javascript" src="js/init.js")