extends static-layout.pug

block content
  section(id="splash")
    div(class="container call-to-action")
      h1(class="header center orange-text") Private Jet Empty Legs
      div(class="row center")
        h5(class="header col s12 light") Private jet flying for business class prices. Wyng It provides a listing of availible empty leg flights from our partners.
        a(class="waves-effect waves-light btn-large orange darken-2") Comming Soon